{% if progresso | length > 0 %}
    {% for projeto in projects %}
        {% if projeto.project_type == tipo %}
        <div class="small-12 columns">
        <h5>{{projeto.name}}</h5>
        {% for key,prog in progresso[projeto.id] %}
        <div class="small-3 columns total-por-fase">
            <h6>{{prog}}</h6>
            <p>{{key}}</p>
        </div>
        {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
