{% if progresso.tipos_agrupados[0] != 0 or progresso.tipos_agrupados[2] != 0 or progresso.tipos_agrupados[3] != 0 %}
    {% for key, valor_progresso in progresso.tipos_agrupados %}
        <div class="small-3 columns total-por-fase">
        <h6>{{valor_progresso}}</h6>
        <p>
            {% if key == 1 %}
                em etapas anteriores ao início das obras
            {% elseif key == 2 %}
                em obras ou implantação de estruturas
            {% elseif key == 3 %}
                concluídos(as)
            {% endif %}
        </p>
        </div>
    {% endfor %}
{% endif %}
