@charset "UTF-8";
// Coloring charts according to page type

    .chart-pie {
      circle {
        stroke: $azul;
      }
      .colored {
        fill: $azul;
      }
    }
    .projeto {
        .line-a {
          stroke: $verde;
        }
        .dot-a {
          fill: $verde;
        }
    }

    .meta {
        .line-a {
          stroke: $azul;
        }
        .dot-a {
          fill: $azul;
        }
    }


/*
 * Estilização dos gráficos usados no site.
 *
 * Alguns gráficos são montados em SVG, então os elementos dessa linguagem
 * (como path ou text, por exemplo) podem aparecer no CSS.
 */

/*
 * Container usado nos gráficos. Faz com que o gráfico se adapte às dimensões
 * do grid.
 */
.chart-container {
  position: relative;
  margin:rem-calc(15);
  vertical-align: middle;
  overflow: hidden;
  > svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.meta {
    .chart-container-projeto {
        background-color: #fff;
        width: rem-calc(900);
        height: rem-calc(200);
        margin: 0 auto rem-calc(40);
    }
}
.projeto {
    .chart-container {
        width: 90%;
        min-height: rem-calc(200);
        margin: 0 auto rem-calc(40);
    }
}

/*
 * Estilos específicos usados nos gráficos de linha.
 */
.line {
    stroke-width: 1;
    fill: none;
}
.line-b {
  stroke: #999;
}
.dot {
  text {
    font: bold 14px 'Montserrat';
  }
}
.dot-b {
  fill: #999;
}
.axis-x {
  path {
    display: none;
  }
  text {
    font: 12px 'Tinos';
  }
}

/*
 * Fases do projeto.
 *
 * Esse gráfico é feito basicamente com HTML e CSS.
 */
.project-phases {
    width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: 'Tinos';
  & > li {
    margin-bottom: 10px;
    padding: 0 5px !important;
  }
  .chevron-bar, 
  li i.square
  {
    position: relative;
    height: 16px;
    margin-bottom: 26px;
    display: block;
    background: #e6e6e6;
        -ms-transform: skew(30deg, 0);
    -webkit-transform: skew(30deg, 0);
            transform: skew(30deg, 0);
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 16px;
      right: 9px;
      left: -9px;
        height: 16px;
        background: #e6e6e6;
            -ms-transform: skew(-45deg, 0);
      -webkit-transform: skew(-45deg, 0);
              transform: skew(-45deg, 0);
    }
  }
}

/*
 * Legenda usada em alguns gráficos.
 */
.caption {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 0 rem-calc(15) 0;
    width: 100%;
    li {
        margin: rem-calc(15) 0 0;

        p {
            font-family: 'Montserrat', sans-serif;
            font-size: rem-calc(11);
            vertical-align: middle;
            padding-left: rem-calc(5);
            display: inline-block;
        }
        &.weight-about-goal {
            float: right;
            p {
                font-family: 'Tinos', sans-serif;
                padding: rem-calc(10) 0;
                margin-bottom:0
            }
        }
        i.square {
            display: inline-block;
            background-color: #e6e6e6;
            height: rem-calc(16);
            width: rem-calc(30);


            &.light {
              background-color: #e6e6e6;

              &:after {
                background-color: #e6e6e6;
              }
            }
            &.color-border {
              background-color: $verde;

              &:after {
                background-color: $verde;
              }
            }
            &.color-border-light {
              background-color: lighten($verde, 20%);

              &:after {
                background-color: lighten($verde, 20%);
              }
            }
        }
    }
    //}
}


    /*
     * Elementos de conteúdo que usam as cores da área.
     */

    .box {
      ul li a {
        &:hover,
        &.active {
          //color: $verde !important;
          &:before {
            //color: $verde !important;
          }
        }
      }
      .project-phases {
        .chevron-bar-100,
        .chevron-bar-100:after {
          background: $verde;
        }
        .chevron-bar-50,
        .chevron-bar-50:after {
          @include dual-background(lighten($verde, 20%), #e6e6e6);
        }
      }
    }


