.support-bar, 
.redes-sociais,
.menu-principal,
.filter-bar,
#f1_container 
// #filter-options 
{
	display: none !important;
}

.row {
	max-width: 1000px;
	.medium-6 {
		float: left;
		width: 50%
	}
}

.small-9 {
    width: 75%;
}

.small-3 {
    width: 25%;
}

.browsehappy {
  margin: 0 auto;
  // max-width: 1000px;
  padding: 10px;
  text-align: center !important;
}

.header {
	position: relative;

	.title-bar {
		padding: 30px;
		> div > a {
			padding: 30px;
			display: block;
			background: url(../assets/images/logo-programa-de-metas.png) no-repeat center top transparent;
			img {
				display: none;
			}
		}
	}
}

#filter-options {
	background-color: transparent;
	max-width: 1000px;

	&:before {
		background-color: transparent;
	}

	 .projetos-por-perto, .metas-por-objetivo {
		height: 170px;

		h3 {
			padding: 10px 0;
			text-align: center;
		}
		select,
		#input_cep
		{
			width: 90%;
			margin-left: 10px;
			border-width: 7px 0;
			border-color: #7dac33;
			border-style: solid;
		}

		.button {
			border-width: 7px 0;
			border-color: #6E982D;
			border-style: solid;
		}
	 	
	 }

	 .metas-por-objetivo {

	 	select {
	 		border-color: #0e97a3;
	 	}

		.button {
			border-color: #0C818C;
		}

	 }

	.nao-sabe-cep {
		padding: 10px 0;
	}

	.ou {
		left: 96%;
		border: 5px solid #fff;
	}

}

.meta-card {

	margin: 10px auto;
	padding: 10px;


	.box-options, .chart-render, .chart-container {
		display: none !important;
	}

	.ordem {
		width: 16.6667%;
	}

	.titulo {
		width: 83.3333%;
	}

	.detalhes {
		padding: 5px;

		.status {
			// height: auto;
			// width: auto;
			// margin: 0;
		}
	}

	.findout {
		span {
			&:before {
				display:none;
			}
		}
	}
}







