
{% extends "base.twig" %}

{% block content %}
<div class="row summary-results">
    <div class="small-12 medium-10 columns">
    {% if filtros_usados %}
        <p class="filtro-por">Mostrando resultados de filtro por
        {% for filtro in filtros_usados %}
            <span class="strong">{{filtro}},</span class="strong">
        {% endfor %}
        </p>
    {% endif %}
    </div>
    <div class="small-12 medium-2 columns text-right">
        <p>{{total_metas}} metas</p>
    </div>
</div>

{% if metas|length > 0 %}
    {% for meta in metas %}
        {% include "meta-resumo.twig" with {meta:meta, filtro_so_subprefeitura:filtro_so_subprefeitura} %}
    {% endfor %}
{% else %}
<div class="row">
    <div class="small-12 columns empty-results">
        <img src="{{site.theme.link}}/assets/images/sem-resultados.png" alt="Sem resultados">
        <h3>
            Desculpe, nenhum resultado foi encontrado. <br/>Experimente outros filtros.
        </h3>
    </div>
</div>
<br><br><br><br><br><br>
{% endif %}
{% endblock %}
