{% extends 'base.twig' %}

{% block header %}
{% include "header-simple.twig" with {page_type:"projeto"} %}
{% endblock %}

{% block content %}


<div class="row">
    <div class="small-12 columns nav-innerpage">
        <a href="{{site.url}}/"><i class="back icon-arrow-r"></i> home/filtros</a>
    </div>
</div>


<div class="row">
    <div class="small-12 columns nav-innerpage">
        <a href="{{site.url}}/meta/{{projeto.goal_id}}"><i class="back icon-arrow-r"></i>{{projeto.goals.name}}</a>
    </div>
</div>

{% endblock %}
