{% extends 'base.twig' %}

{% block header %}
fdsa fdsafdsa fdsa
{% endblock %}

{% block content %}
<h2>{{projeto.name}}</h2>
{{projeto|print_r}}

<div class="content projeto">

        <!-- Cabecalho do projeto -->
        <div class="header row">
            <div class="title large-11 columns">
                <h3 class="color-666">PROJETO</h3>
                <h2 class="color-000 h2-large">Rede Hora Certa Glória Rodrigues dos Santos Bonfim - Cidade Tiradentes.</h2>
            </div>
            <div class="large-1 columns">
                <div class="share icon-share"><a href="javascript://">compartilhar este projeto</a></div>
            </div>
        </div>
        <div class="row">
            <div class="small-10 columns">
                <div class="box main_details">
                    <div class="box-content row padding-20">
                        <div class="small-3 columns border-right">
                            <p><strong>TIPO</strong> 
                                Equipamentos novos</p>
                        </div>
                        <div class="small-3 columns border-right">
                            <p><strong>ENTREGA PREVISTA</strong>
                                2015-2016</p>
                        </div>
                        <div class="small-3 columns border-right">
                            <p><strong>SUBPREFEITURA</strong>
                                Campo Limpo</p>
                        </div>
                        <div class="small-3 columns">
                            <p><strong>DISTRITO</strong>
                                Vila Formosa</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-2 columns">
                <div class="box main_details">
                    <div class="box-content padding-20">
                        <h3 class="color-c3c5c6 text-center">NÃO INICIADO 
                            <strong>0%</strong></h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Andamento das fases -->
        <div class="box identidade box-fff">
            <div class="box-header">
                <h2 class="icon-graph-arrow">ACOMPANHAMENTO DAS FASES</h2>
            </div>
            <div class="text-center">
                <ul class="small-block-grid-10 project-phases">
                    <li>
                        <div class="chevron-bar"></div>
                        Identificação  de Terreno
                        (5%)
                    </li>
                    <li>
                        <div class="chevron-bar chevron-bar-50"></div>
                        Licitação do Projeto
                        (5%)
                    </li>
                    <li>
                        <div class="chevron-bar chevron-bar-100"></div>
                        Garantia da
                        fonte de financiamento
                        (15%)
                    </li>
                    <li>
                        <div class="chevron-bar"></div>
                        Licitação da Obra (5%)
                    </li>
                    <li>
                        <div class="chevron-bar"></div>
                        Licenciamento 
                        (10%)
                    </li>
                    <li>
                        <div class="chevron-bar chevron-bar-50"></div>
                        Desapropriação (15%)
                    </li>
                    <li>
                        <div class="chevron-bar chevron-bar-100"></div>
                        Obras
                        Fase Inicial 
                        (15%)
                    </li>
                    <li>
                        <div class="chevron-bar"></div>
                        Obras
                        Fase Final
                        (15%)
                    </li>
                    <li>
                        <div class="chevron-bar chevron-bar-50"></div>
                        Garantia da Infraestrutura para o funcionamento 
                        (10%)
                    </li>
                    <li>
                        <div class="chevron-bar"></div>
                        Equipamento em uso
                        (5%)
                    </li>
                </ul>
                <div class="caption text-left color-999">
                    <span>FASE NÃO INICIADA</span>
                    <span class="color-border-light">FASE EM ANDAMENTO</span>
                    <span class="color-border">FASE CONCLUÍDA</span>
                </div>
            </div>
        </div>

        <!-- Andamento quntitativo / Numero de vagas criadas no mes -->
        <div class="box box-fff">
            <div class="box-header">
                <h2 class="icon-graph-arrow">NÚMERO DE VAGAS CRIADAS NO MÊS</h2>
            </div>
            <div class="border-top border-bottom padding-20 clearfix">
                <a class="ddown right icon-arrow-d" href="#" data-dropdown="subprefeituras" data-options="is_hover:true">SUB PREFEITURA - TODAS</a>
                <ul id="subprefeituras" class="f-dropdown" data-dropdown-content="" style="position: absolute; top: 1123.1875px; left: -99999px;">
                    <li><a href="#">This is a link</a></li>
                    <li><a href="#">This is another</a></li>
                    <li><a href="#">Yet another</a></li>
                </ul>
            </div>
            <div class="text-center">
                <div class="chart-render chart-container line-container" id="chart-month-a" data-chart="{&quot;type&quot;:&quot;line&quot;,&quot;values&quot;:[[200,50,35,20,40,160,100,170,145,180,0,30],[100,150,135,120,140,60,200,70,45,80,100,130]]}"><svg class="chart-line" width="900" height="200" viewBox="0 0 900 200" preserveAspectRatio="xMinYMin meet"><g transform="translate(40,0)"><g class="axis axis-x" transform="translate(-40,175)"><g class="tick" transform="translate(37.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line><text y="9" x="0" dy=".71em" style="text-anchor: middle;">Janeiro</text></g><g class="tick" transform="translate(112.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line><text y="9" x="0" dy=".71em" style="text-anchor: middle;">Fevereiro</text></g><g class="tick" transform="translate(187.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line><text y="9" x="0" dy=".71em" style="text-anchor: middle;">Março</text></g><g class="tick" transform="translate(262.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line><text y="9" x="0" dy=".71em" style="text-anchor: middle;">Abril</text></g><g class="tick" transform="translate(337.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line><text y="9" x="0" dy=".71em" style="text-anchor: middle;">Maio</text></g><g class="tick" transform="translate(412.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line><text y="9" x="0" dy=".71em" style="text-anchor: middle;">Junho</text></g><g class="tick" transform="translate(487.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line><text y="9" x="0" dy=".71em" style="text-anchor: middle;">Julho</text></g><g class="tick" transform="translate(562.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line><text y="9" x="0" dy=".71em" style="text-anchor: middle;">Agosto</text></g><g class="tick" transform="translate(637.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line><text y="9" x="0" dy=".71em" style="text-anchor: middle;">Setembro</text></g><g class="tick" transform="translate(712.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line><text y="9" x="0" dy=".71em" style="text-anchor: middle;">Outubro</text></g><g class="tick" transform="translate(787.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line><text y="9" x="0" dy=".71em" style="text-anchor: middle;">Novembro</text></g><g class="tick" transform="translate(862.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line><text y="9" x="0" dy=".71em" style="text-anchor: middle;">Dezembro</text></g><path class="domain" d="M0,6V0H900V6"></path></g><path d="M0,32L75,128L150,137.6L225,147.2L300,134.4L375,57.599999999999994L450,96L525,51.19999999999999L600,67.2L675,44.80000000000001L750,160L825,140.8" class="line line-a"></path><g class="dot dot-a"><circle r="5" cx="0" cy="32"></circle><text transform="translate(0,36)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">200</text></g><g class="dot dot-a"><circle r="5" cx="75" cy="128"></circle><text transform="translate(75,132)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">50</text></g><g class="dot dot-a"><circle r="5" cx="150" cy="137.6"></circle><text transform="translate(150,141.6)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">35</text></g><g class="dot dot-a"><circle r="5" cx="225" cy="147.2"></circle><text transform="translate(225,151.2)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">20</text></g><g class="dot dot-a"><circle r="5" cx="300" cy="134.4"></circle><text transform="translate(300,138.4)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">40</text></g><g class="dot dot-a"><circle r="5" cx="375" cy="57.599999999999994"></circle><text transform="translate(375,61.599999999999994)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">160</text></g><g class="dot dot-a"><circle r="5" cx="450" cy="96"></circle><text transform="translate(450,100)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">100</text></g><g class="dot dot-a"><circle r="5" cx="525" cy="51.19999999999999"></circle><text transform="translate(525,55.19999999999999)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">170</text></g><g class="dot dot-a"><circle r="5" cx="600" cy="67.2"></circle><text transform="translate(600,71.2)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">145</text></g><g class="dot dot-a"><circle r="5" cx="675" cy="44.80000000000001"></circle><text transform="translate(675,48.80000000000001)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">180</text></g><g class="dot dot-a"><circle r="5" cx="750" cy="160"></circle><text transform="translate(750,164)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">0</text></g><g class="dot dot-a"><circle r="5" cx="825" cy="140.8"></circle><text transform="translate(825,144.8)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">30</text></g><path d="M0,96L75,64L150,73.6L225,83.2L300,70.39999999999999L375,121.6L450,32L525,115.19999999999999L600,131.2L675,108.8L750,96L825,76.8" class="line line-b"></path><g class="dot dot-b"><circle r="5" cx="0" cy="96"></circle><text transform="translate(0,100)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">100</text></g><g class="dot dot-b"><circle r="5" cx="75" cy="64"></circle><text transform="translate(75,68)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">150</text></g><g class="dot dot-b"><circle r="5" cx="150" cy="73.6"></circle><text transform="translate(150,77.6)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">135</text></g><g class="dot dot-b"><circle r="5" cx="225" cy="83.2"></circle><text transform="translate(225,87.2)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">120</text></g><g class="dot dot-b"><circle r="5" cx="300" cy="70.39999999999999"></circle><text transform="translate(300,74.39999999999999)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">140</text></g><g class="dot dot-b"><circle r="5" cx="375" cy="121.6"></circle><text transform="translate(375,125.6)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">60</text></g><g class="dot dot-b"><circle r="5" cx="450" cy="32"></circle><text transform="translate(450,36)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">200</text></g><g class="dot dot-b"><circle r="5" cx="525" cy="115.19999999999999"></circle><text transform="translate(525,119.19999999999999)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">70</text></g><g class="dot dot-b"><circle r="5" cx="600" cy="131.2"></circle><text transform="translate(600,135.2)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">45</text></g><g class="dot dot-b"><circle r="5" cx="675" cy="108.8"></circle><text transform="translate(675,112.8)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">80</text></g><g class="dot dot-b"><circle r="5" cx="750" cy="96"></circle><text transform="translate(750,100)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">100</text></g><g class="dot dot-b"><circle r="5" cx="825" cy="76.8"></circle><text transform="translate(825,80.8)" pointer-events="none" fill="white" style="text-anchor: middle; opacity: 0;">130</text></g></g></svg></div>
                <div class="caption text-right color-999">
                    <span>VAGAS CRIADAS</span>
                    <span class="color-border">VAGAS EXISTENTES</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <h2 class="color-666 bg-transparent">NÚMERO DE VAGAS POR SUBPREFEITURA</h2>
            </div>
            <div class="table-container">
                <table>
                    <tbody>
                        <tr>
                            <th>Butantã</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Freguesia/Brasilândia</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td class="color-text">160</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Itaim Paulista</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td class="color-text">50</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Sapopemba</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                            <tr>
                            <th>Sé</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td class="color-text">120</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Butantã</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Freguesia/Brasilândia</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Itaim Paulista</th>
                            <td>0</td>
                            <td class="color-text">60</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Sapopemba</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Sé</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th width="7%">Janeiro</th>
                            <th width="7%">Fevereiro</th>
                            <th width="7%">Março</th>
                            <th width="7%">Abril</th>
                            <th width="7%">Maio</th>
                            <th width="7%">Junho</th>
                            <th width="7%">Julho</th>
                            <th width="7%">Agosto</th>
                            <th width="7%">Setembro</th>
                            <th width="7%">Outubro</th>
                            <th width="7%">Novembro</th>
                            <th width="7%">Dezembro</th>
                        </tr>
                    </tfoot>
                </table>
                <p class="right">Peso do projeto em relação a meta: 8%</p>
            </div>
        </div>

        <!-- Andamento qualitativo -->
        <div class="box a_qualy box-fff">
            <div class="box-header">
                <h2 class="icon-graph">ANDAMENTO QUALITATIVO</h2>
            </div>
            <div class="box-content row padding-20 color-text">
                <div class="small-6 large-4 columns border-right">
                    <p>Das novas familias beneficiadas 54 mil já estavam inscritas no CadÚnico porém não recebiam o benefício e 57 mil passaram a receber depois de serem cadastradas em 2013. Dentre elas, x viviam em situação de pobreza, x em extrema pobreza.</p>
                </div>
                <div class="small-6 large-4 columns border-right">
                    <p>Foram identificadas 441.085 famílias  a serem cadastradas: extrema pobreza: 260.307 pobreza - atendida baixa renda - 180.778.</p>
                </div>
                <div class="small-6 large-4 columns">
                    <p>Das 97805 famílias cadastradas: detalhar por faixa de renda?!</p>
                </div>
            </div>
            <div class="box-content row padding-20 color-text">
                <div class="small-6 large-4 columns border-right">
                    <p>Das 97805 famílias cadastradas: detalhar por faixa de renda?!</p>
                </div>
                <!-- Use "end" no último elemento quando houver menos que 3 textos na linha -->
                <div class="small-6 large-4 columns border-right end">
                    <p>Realização de x pilotos nas áreas: saúde, educação...</p>
                </div>
            </div>
        </div>

        <!-- Execucao orcamentaria -->
        <div class="box box-fff">
            <div class="box-header">
                <h2 class="icon-quotation">EXECUÇÃO ORÇAMENTÁRIA</h2>
            </div>
            <div class="box-content">
                <div class="text-center cronograma">
                    <h3>EXECUTADO</h3>
                    <div class=" row size-14 color-999 anos">
                        <div class="small-12 large-3 columns">2013</div>
                        <div class="small-12 large-3 columns">2014</div>
                        <div class="small-12 large-3 columns">2015</div>
                        <div class="small-12 large-3 columns">2016</div>
                    </div>
                    <div class="entregue row">
                        <div class="small-12 large-3 color-text columns">R$3,5MI</div>
                        <div class="small-12 large-9 columns"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Execucao orcamentaria -->
        <div class="box box-fff">
            <div class="box-header">
                <h2 class="icon-plot-full">LOCAL</h2>
            </div>
            <div class="box-content">
                <div class="map-render leaflet-container leaflet-fade-anim" id="map-local" style="height: 470px; position: relative;" data-source="#project-local" tabindex="0"><div class="leaflet-map-pane" style="-webkit-transform: translate3d(0px, 0px, 0px);"><div class="leaflet-tile-pane"><div class="leaflet-layer"><div class="leaflet-tile-container leaflet-zoom-animated" style=""></div><div class="leaflet-tile-container leaflet-zoom-animated" style=""><img class="leaflet-tile leaflet-tile-loaded" src="http://b.tile.osm.org/11/757/1161.png" style="height: 256px; width: 256px; left: 443px; top: 120px;"><img class="leaflet-tile leaflet-tile-loaded" src="http://a.tile.osm.org/11/756/1161.png" style="height: 256px; width: 256px; left: 187px; top: 120px;"><img class="leaflet-tile leaflet-tile-loaded" src="http://a.tile.osm.org/11/757/1160.png" style="height: 256px; width: 256px; left: 443px; top: -136px;"><img class="leaflet-tile leaflet-tile-loaded" src="http://c.tile.osm.org/11/756/1160.png" style="height: 256px; width: 256px; left: 187px; top: -136px;"><img class="leaflet-tile leaflet-tile-loaded" src="http://b.tile.osm.org/11/756/1162.png" style="height: 256px; width: 256px; left: 187px; top: 376px;"><img class="leaflet-tile leaflet-tile-loaded" src="http://c.tile.osm.org/11/757/1162.png" style="height: 256px; width: 256px; left: 443px; top: 376px;"><img class="leaflet-tile leaflet-tile-loaded" src="http://c.tile.osm.org/11/755/1161.png" style="height: 256px; width: 256px; left: -69px; top: 120px;"><img class="leaflet-tile leaflet-tile-loaded" src="http://c.tile.osm.org/11/758/1161.png" style="height: 256px; width: 256px; left: 699px; top: 120px;"><img class="leaflet-tile leaflet-tile-loaded" src="http://a.tile.osm.org/11/755/1162.png" style="height: 256px; width: 256px; left: -69px; top: 376px;"><img class="leaflet-tile leaflet-tile-loaded" src="http://b.tile.osm.org/11/755/1160.png" style="height: 256px; width: 256px; left: -69px; top: -136px;"><img class="leaflet-tile leaflet-tile-loaded" src="http://b.tile.osm.org/11/758/1160.png" style="height: 256px; width: 256px; left: 699px; top: -136px;"><img class="leaflet-tile leaflet-tile-loaded" src="http://a.tile.osm.org/11/758/1162.png" style="height: 256px; width: 256px; left: 699px; top: 376px;"></div></div></div><div class="leaflet-objects-pane"><div class="leaflet-shadow-pane"><img src="http://cdn.leafletjs.com/leaflet-0.7.2/images/marker-shadow.png" class="leaflet-marker-shadow leaflet-zoom-animated" style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; -webkit-transform: translate3d(794px, 364px, 0px);"></div><div class="leaflet-overlay-pane"></div><div class="leaflet-marker-pane"><img src="http://cdn.leafletjs.com/leaflet-0.7.2/images/marker-icon.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-clickable" tabindex="0" style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; -webkit-transform: translate3d(794px, 364px, 0px); z-index: 364;"></div><div class="leaflet-popup-pane"></div></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="#" title="Zoom in">+</a><a class="leaflet-control-zoom-out" href="#" title="Zoom out">-</a></div></div><div class="leaflet-top leaflet-right"></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"><div class="leaflet-control-attribution leaflet-control"><a href="http://leafletjs.com" title="A JS library for interactive maps">Leaflet</a></div></div></div></div>
                <div id="project-local">
                    <p data-latlng="-23.5565203,-46.6924892">Endereço: Rua Mourato Coelho 1344 Pinheiros São Paulo CEP 05417-002</p>
                    <p><a class="color-999" href="http://maps.google.com.br/?q=Rua+Mourato+Coelho+1344+Pinheiros+S%C3%A3o+Paulo+CEP+05417-002">Ver no Google maps</a>
                </p></div>
            </div>
        </div>

        <!-- Cometarios -->
        <div class="box box-fff">
            <div class="box-header">
                <h2 class="icon-balloon">COMENTARIOS</h2>
            </div>
            <div class="box-content">
                <div class="text-center">
                    <h3 class="color-999 border-top border-bottom inline padding-20">(0) COMENTÁRIOS</h3>
                </div>
                <div class="row">
                    <form class="clearfix">
                        <h3 class="color-999">DEIXE SEU COMENTÁRIO</h3>
                        <div class="form small-12 large-6 columns">
                            <fieldset>
                                <label>Nome</label>
                                <input type="text">
                                <label>E-mail</label>
                                <input type="text">
                                <label>Website</label>
                                <input type="text">
                            </fieldset>
                        </div>
                        <div class="form small-12 large-6 columns">
                            <fieldset>
                                <label>Comentário</label>
                                <textarea rows="12"></textarea>
                            </fieldset>
                        </div>
                        <button class="right icon-balloon">COMENTAR</button>
                    </form>
                </div>
            </div>
        </div>

    </div>


{% endblock %}