<div class="row outer-box">
    <div class="small-12 columns ">
        <div class="small-12 columns" >
            <div class="small-12 columns box text-center">
                <p class="title">
                    <i class="icon-graph-arrow"></i>
                    <span>acompanhamento mês a mês</span>
                </p>
            </div>
            <ul class="tabs tab-options inline-list small-2 small-centered columns" id="tab-por-ano" data-tab>
              <li class="tab-title active"><a href="#panel2-1">2013</a></li>
              <li class="tab-title"><a href="#panel2-2">2014</a></li>
            </ul>
            <div class="tabs-content">
                <div class="content active" id="panel2-1">
                    {% include "partials/andamento-projeto/_grafico-tabela-ano-2013.twig" with {projeto:projeto, progresso:progresso, fases_projeto:fases_projeto} %}
                </div>
                <div class="content" id="panel2-2">
                    {% include "partials/andamento-projeto/_grafico-tabela-ano-2014.twig" with {projeto:projeto, progresso:progresso, fases_projeto:fases_projeto} %}
                </div>
            </div>
        </div>
    </div>
</div>
