<!-- Andamento quntitativo / Numero de vagas criadas no mes -->
        <div class="box box-fff">
            <div class="box-header">
                <h2 class="icon-graph-arrow">NÚMERO DE VAGAS CRIADAS NO MÊS</h2>
            </div>
            <div class="border-top border-bottom padding-20 clearfix">
                <a class="ddown right icon-arrow-d" href="#" data-dropdown="subprefeituras" data-options="is_hover:true">SUB PREFEITURA - TODAS</a>
                <ul id="subprefeituras" class="f-dropdown" data-dropdown-content>
                    <li><a href="#">This is a link</a></li>
                    <li><a href="#">This is another</a></li>
                    <li><a href="#">Yet another</a></li>
                </ul>
            </div>
            <div class="text-center">
                <div class="chart-render chart-container line-container" id="chart-month-a" data-chart="{&quot;type&quot;:&quot;line&quot;,&quot;values&quot;:[[200,50,35,20,40,160,100,170,145,180,0,30],[100,150,135,120,140,60,200,70,45,80,100,130]]}"></div>
                <div class="caption text-right color-999">
                    <span>VAGAS CRIADAS</span>
                    <span class="color-border">VAGAS EXISTENTES</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <h2 class="color-666 bg-transparent">NÚMERO DE VAGAS POR SUBPREFEITURA</h2>
            </div>
            <div class="table-container">
                <table>
                    <tbody>
                        <tr>
                            <th>Butantã</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Freguesia/Brasilândia</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td class="color-text">160</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Itaim Paulista</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td class="color-text">50</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Sapopemba</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                            <tr>
                            <th>Sé</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td class="color-text">120</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Butantã</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Freguesia/Brasilândia</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Itaim Paulista</th>
                            <td>0</td>
                            <td class="color-text">60</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Sapopemba</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>Sé</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th width="7%">Janeiro</th>
                            <th width="7%">Fevereiro</th>
                            <th width="7%">Março</th>
                            <th width="7%">Abril</th>
                            <th width="7%">Maio</th>
                            <th width="7%">Junho</th>
                            <th width="7%">Julho</th>
                            <th width="7%">Agosto</th>
                            <th width="7%">Setembro</th>
                            <th width="7%">Outubro</th>
                            <th width="7%">Novembro</th>
                            <th width="7%">Dezembro</th>
                        </tr>
                    </tfoot>
                </table>
                <p class="right">Peso do projeto em relação a meta: 8%</p>
            </div>
        </div>
