{% include "partials/andamento-meta/_por-grupo.twig" with {progresso:progresso} %}

{% if progresso['tipo5']|length > 0 or progresso['tipo6']|length > 0 or progresso['tipo7']|length > 0 or progresso['tipo8']|length > 0   %}

    <h3>Outros Projetos:</h3>

    {% include "partials/andamento-meta/_por-fase.twig" with {tipo:5,progresso:progresso['tipo5'], projects:meta.projects} %}
    {% include "partials/andamento-meta/_por-fase.twig" with {tipo:6,progresso:progresso['tipo6'], projects:meta.projects} %}
    {% include "partials/andamento-meta/_por-fase.twig" with {tipo:7,progresso:progresso['tipo7'], projects:meta.projects} %}

    {% if meta.id in meta_grouped %}
        {% include "partials/andamento-meta/_mes-a-mes-grouped.twig" with {progresso:progresso['tipo8']} %}
    {% else %}
        {% include "partials/andamento-meta/_mes-a-mes.twig" with {progresso:progresso['tipo8'], projects:meta.projects} %}
    {% endif %}

{% endif %}
