{% set selected = articulacao %}
{% for articulacao in articulacoes %}
<option value="{{articulacao.id}}" {% if articulacao.id == selected %}selected{% endif %}>{{articulacao.name}}</option>
{% endfor %}