{% set selected = subprefeitura %}
{% for subprefeitura in subprefeituras %}
<option value="{{subprefeitura.id}}" {% if subprefeitura.id == selected %}selected{% endif %}>{{subprefeitura.name}}</option>
{% endfor %}

